<h1>Регионы</h1>
<div>
  <%= link_to 'Создать регион', new_region_path %>
</div>
<div class="data">
  <% @region.each do |item| %>
    <div class="info item">
    <h3><%= item.name %></h3>
      <div class="image">
        <img src="irk_obl.png" class="photo"></img>
      </div>
    <div class="link action">
      <%= link_to 'Подробнее', region_path(item), class: "link item" %>
      <%= link_to 'Изменить', edit_region_path(item), class: "link item" %>
      <%= link_to 'Удалить', region_path(item), method: 'DELETE', class: "link item" %>
    </div>
    </div>
  <% end %>
</div>
