<div class="data">
  <div class="info">
    <h1>Добавить станок</h1>

    <%= form_for :machine, url: "/machine/#{@machine.id}/edit", class: 'new form' do |f| %>
      <div>
        <p>
          <%= f.label 'Название', class: 'label_field' %>
          <%= f.text_field :name, class: 'text_field', id: :name, value: @machine.name %>
        </p>
        <p>
          <%= f.label 'Тип станка', class: 'label_field' %>
          <%= select_tag(
                  'machine[type_machine_id]',
                  options_for_select(
                      type_machine_name_id, @machine.type_machine_id
                  ),
                  class: 'new select',
                  id: :type_machine_id
              ) %>
        </p>
        <p>
          <%= f.label 'Тип инструмента', class: 'label_field' %>
          <%= select_tag(
                  'machine[instrument_id]',
                  options_for_select(
                      instruments_name_id, @machine.instrument_id
                  ),
                  class: 'new select',
                  id: :instrument_id
              ) %>
        </p>
        <p>
          <%= f.label 'Диаметр 1', class: 'label_field' %>
          <%= f.text_field :landing1, class: 'text_field', id: :landing1, value: @machine.landing1 %>
        </p>
        <p>
          <%= f.label 'Диаметр 2', class: 'label_field' %>
          <%= f.text_field :landing2, class: 'text_field', id: :landing2, value: @machine.landing2 %>
        </p>
        <p>
          <%= f.label 'Обороты 1', class: 'label_field' %>
          <%= f.text_field :turnovers1, class: 'text_field', id: :turnovers1, value: @machine.turnovers1 %>
        </p>
        <p>
          <%= f.label 'Обороты 2', class: 'label_field' %>
          <%= f.text_field :turnovers2, class: 'text_field', id: :turnovers2, value: @machine.turnovers2 %>
        </p>
      </div>
      <%= f.submit 'Сохранить', class: 'button' %>
    <% end %>
  </div>
</div>
