<div class="info">
  <h1>Станок</h1>

    <p>Название: <%= @machine.name %></p>
    <p>Тип: <%= @machine.type_machine.name %></p>
    <p>Тип инструмента: <%= @machine.instrument.name %></p>
    <p>Посадка 1: <%= @machine.landing1 %></p>
    <p>Посадка 2: <%= @machine.landing2 %></p>
    <p>Обороты 1: <%= @machine.turnovers1 %></p>
    <p>Обороты 2: <%= @machine.turnovers2 %></p>

</div>
