<div class="info">
  <h1>Создать регион</h1>

  <%= form_for :jurface, url: '/jurface/new', class: 'new form' do |f| %>
    <div>
      <p>
        <%= f.label 'Название', class: 'label_field' %>
        <%= f.text_field :name, class: 'text_field', id: :name %>
      </p>
      <p>
      <p><%= hidden_field_tag('jurface[company_id]', current_user, class: 'new select', id: :user, value: @company.id) %></p>
      </p>
    </div>
    <%= f.submit 'Создать', class: 'button' %>
  <% end %>
</div>
