<h1>Изменение сведений о <%= @company.name %></h1>

<%= form_for :company, url: company_path(@company), class: 'form' do |f| %>
  <p>
    <%= f.label 'Имя компании' %>
    <%= f.text_field :name, value: @company.name, class: 'editor text_field', id: 'name' %>
  </p>

  <p>
    <%= f.label 'Телефон' %>
    <%= f.text_field :phone, value: @company.phone, class: 'editor text_field', id: 'phone' %>
  </p>

  <p>
    <%= f.label 'Адрес' %>
    <%= f.text_field :address, value: @company.address, class: 'editor text_field', id: 'address' %>
  </p>
  <%= f.submit 'Изменить', class: 'button' %>
<% end %>