<div class="data">
  <div class="info item" id="#item">
    <%= render 'company/edit_info' %>
  </div>
  <div class="info link">
    <%= render 'contact/edit_list' %>
  </div>

  <div class="info link">
    <%= render 'additionalinfo/instrument_list_edit' %>
  </div>

  <div class="info link">
    <%= render 'additionalinfo/service_list_edit' %>
  </div>

  <div class="info link">
    <%= render 'additionalinfo/spherework_list_edit' %>
  </div>

  <div class="info user">
    <%= render 'user/edit_list' %>

  </div>

  <div class="info user">
    <%= render 'jurface/edit_list' %>
  </div>

  <div class="info user">
    <%= render 'machine/edit_list' %>
  </div>

</div>
