<%= form_for :company, url: '/company/new', class: 'new form' do |f| %>

  <div class="data">
    <div class="info item">
      <h3>Создать компанию</h3>
      <p>
        <%= f.label 'Имя компании' %><br>
        <%= f.text_field :name, class: 'new text_field', id: :name %>
      </p>

      <div class="inline">
        <div>
          <%= f.label 'Телефон' %>
          <%= f.text_field :phone, class: 'new text_field', id: :phone %>
        </div>

        <div>
          <%= f.label 'Адрес' %>
          <%= f.text_field :address, class: 'new text_field', id: :address %>
        </div>
      </div>
      <div class="inline">
        <%= select_tag('company[region_id]', options_for_select(regions_name_id), class: 'new select', id: :region) %>
        <%= select_tag('company[status_id]', options_for_select(statuses_name_id), class: 'new select', id: :status) %>
      </div>
      <p>
        <%= f.label 'Активен' %>
        <%= f.check_box :active, class: 'new check_box_tag', id: :active %>
      </p>
      <%= hidden_field_tag('company[user_id]', current_user, class: 'new select', id: :user) %>
      <%= f.submit 'Создать', class: 'button' %>

    </div>

    <div class="info item">
      <h3>Инструмент</h3>
      <% instruments_name_id.each do |item| %>
        <p class="print">
          <%= f.label item.first %>
          <%= check_box_tag "company[instrument][]", item.last %>
        </p>
      <% end %>
    </div>

    <div class="info item">
      <h3>Сервис</h3>
      <% service_name_id.each do |item| %>
        <p class="print">
          <%= label_tag item.first %>
          <%= check_box_tag "company[service][]", item.last %>
        </p>
      <% end %>
    </div>

    <div class="info item">
      <h3>Прикрепить существующий контакт</h3>
      <p>
        <%= select_tag('company[contact][]', options_for_select(contact_name_id), class: 'new select', id: :contact) %>
      </p>
      <p>
        <%= select_tag('company[contact][]', options_for_select(contact_name_id), class: 'new select', id: :contact) %>
      </p>
      <p>
        <%= select_tag('company[contact][]', options_for_select(contact_name_id), class: 'new select', id: :contact) %>
      </p>
    </div>

    <div class="info item">
      <h3>Статус клиента</h3>
      <% spherework_name_id.each do |item| %>
        <p class="print">
          <%= label_tag item.first %>
          <%= check_box_tag "company[spherework][]", item.last %>
        </p>
      <% end %>
    </div>

<% end %>
<%= render template: new_contact_path %>
</div>


