<% session[:current_url] = request.url %>
<%= form_for :company, url: '/company/new', class: 'new form' do |f| %>

  <div class="data">
    <div class="info item">
      <h3>Создать компанию</h3>
      <p>
        <%= f.label 'Имя компании' %><br>
        <%= f.text_field :name, class: 'new text_field', id: :name %>
      </p>

      <div class="inline">
        <div>
          <%= f.label 'Телефон' %>
          <%= f.text_field :phone, class: 'new text_field', id: :phone %>
        </div>

        <div>
          <%= f.label 'Адрес' %>
          <%= f.text_field :address, class: 'new text_field', id: :address %>
        </div>
      </div>
      <div class="inline">
        <%= select_tag('company[region_id]', options_for_select(regions_name_id), class: 'new select', id: :region) %>
        <%= select_tag('company[status_id]', options_for_select(statuses_name_id), class: 'new select', id: :status) %>
      </div>
      <p>
        <%= f.label 'Активен' %>
        <%= f.check_box :active, class: 'new check_box_tag', id: :active %>
      </p>
      <%= hidden_field_tag('company[user_id]', current_user, class: 'new select', id: :user) %>
      <%= f.submit 'Создать', class: 'button' %>
    </div>

    <div class="info item">
      <%= render 'additionalinfo/machine_list_add' %>
    </div>

    <div class="info item">
      <%= render 'additionalinfo/instrument_list_add' %>
    </div>

    <div class="info item">
      <%= render 'additionalinfo/service_list_add' %>
    </div>

    <div class="info item">
      <%= render 'additionalinfo/spherework_list_add' %>
    </div>

<% end %>
</div>


