<div class="data">
  <div class="info item" id="item">
    <%= render 'company/show_list' %>
  </div>

  <div class="info link">
    <%= render 'talk/show_list' %>
  </div>

  <div class="info link">
    <%= render 'contact/show_list' %>
  </div>

  <div class="info link">
    <%= render 'additionalinfo/instrument_list' %>
  </div>

  <div class="info link">
    <%= render 'additionalinfo/service_list' %>
  </div>

  <div class="info link">
    <%= render 'additionalinfo/spherework_list' %>
  </div>

  <div class="info user">
    <%= render 'user/show_list' %>
  </div>

  <div class="info user">
    <%= render 'jurface/show_list' %>
  </div>

  <div class="info link">
    <%= render 'machine/show_list' %>
  </div>

</div>