<div class="data">
  <div class="info item" id="item">
    <h3><%= @company.name %></h3>
    <%= link_to @company.region.name, region_path(@company.region) %>
    <p><%= @company.phone %></p>
    <p><%= @company.address %></p>

    <%= link_to 'Изменить', edit_company_path(@company), class: "link" %>
    <%= link_to 'Удалить', company_path(@company), method: 'DELETE', class: "link" %>
  </div>


  <div class="info link">
    <h3>Контакты</h3>
    <% @company.contacts.each do |contact| %>
      <%= form_for :link, url: 'del/link', method: :delete, class: 'new form' do |f| %>
        <p class="print">
          <%= (link_to contact.name, contact_path(contact)) || '' %>
          <%= hidden_field_tag 'link[company_id]', @company.id %>
          <%= hidden_field_tag 'link[contact_id]', contact.id %>
          <%= f.submit 'убрать из компании', class: 'new button link_destroy' %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="info link">
    <h3>Инструмент</h3>
    <% @company.instruments.each do |instrument| %>
        <%= form_for :link, url: 'del/link', method: :delete, class: 'new form' do |f| %>
        <p class="print">
          <%= (link_to instrument.name, "/additionalinfo/instrument/#{instrument.id}") %>
          <%= hidden_field_tag 'link[company_id]', @company.id %>
          <%= hidden_field_tag 'link[contact_id]', instrument.id %>
          <%= f.submit 'убрать', class: 'new button link_destroy' %>
        </p>
      <% end %>

    <% end %>
  </div>

  <div class="info link">
    <h3>Сервис</h3>
    <% @company.services.each do |service| %>
        <%= form_for :link, url: 'del/link', method: :delete, class: 'new form' do |f| %>
        <p class="print">
          <%= (link_to service.name, "/additionalinfo/service/#{service.id}") %>
          <%= hidden_field_tag 'link[company_id]', @company.id %>
          <%= hidden_field_tag 'link[contact_id]', service.id %>
          <%= f.submit 'убрать', class: 'new button link_destroy' %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="info link">
    <h3>Сферы деятельности</h3>
    <% @company.sphereworks.each do |spherework| %>
        <%= form_for :link, url: 'del/link', method: :delete, class: 'new form' do |f| %>
        <p class="print">
          <%= (link_to spherework.name, "/additionalinfo/spherework/#{spherework.id}") %>
          <%= hidden_field_tag 'link[company_id]', @company.id %>
          <%= hidden_field_tag 'link[contact_id]', spherework.id %>
          <%= f.submit 'убрать', class: 'new button link_destroy' %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="info user">
    <h3>
      Менеджер
    </h3>
    <p class="print">
      <%= link_to @company.user.name, user_path(@company.user) %>
    </p>
  </div>

</div>
