<h1><%= @company.name %></h1>
<%= link_to @company.region.name, region_path(@company.region) %>
<p><%= @company.phone %></p>
<p><%= @company.address %></p>

<span>Контакты</span>
<div class="link contact">
  <% @company.contacts.each do |contact| %>
    <p>
    <%= link_to contact.name, contact_path(contact) %>
    </p>
<% end %>
</div>
<%= link_to 'Изменить', edit_company_path(@company), class: "link item" %>
<%= link_to 'Удалить', company_path(@company), method: 'DELETE', class: "link item" %>
