<h1><%= @contact.name %></h1>

<p><%= @contact.phone %></p>
<p><%= @contact.position %></p>
<p><%= @contact.birthday %></p>
<p><%= @contact.comment %></p>
<span>Компании</span>
<div class="link contact">
  <% @contact.companies.each do |company| %>
    <p>
      <%= link_to company.name, company_path(company) %>
    </p>
  <% end %>
</div>
