<h1>Изменение сведений о <%= @contact.name %></h1>

<%= form_for :contact, url: edit_contact_path(@contact), class: 'form' do |f| %>
	
	<div>
  <p>
    <%= f.label 'ФИО' %>
    <%= f.text_field :name, value: @contact.name, class: 'editor text_field', id: :name %>
  </p>

  <p>
    <%= f.label 'Телефон' %>
    <%= f.text_field :phone, value: @contact.phone, class: 'editor text_field', id: :phone %>
  </p>

  <p>
    <%= f.label 'Должность' %>
    <%= f.text_field :position, value: @contact.position, class: 'editor text_field', id: :position %>
  </p>
    <p>
      <%= f.label 'День рождения' %>
      <%= f.text_field :birthday, value: @contact.birthday, class: 'editor text_field', id: :birthday %>
    </p>
    <%= select_tag('company[id]', options_for_select(companies_name_id), class: 'new select', id: :company, value: @contact.id) %>
 </div>
  
  <%= f.submit 'Изменить', class: 'button' %>
<% end %>