<!DOCTYPE html>
<html>
<head>
  <title>Система управления информацией о клиентах</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if logged_in? %>
<div class="container menu">
      <span class="time"><%= Time.now.strftime("Сегодня %d.%m.%Y, текущее время %H:%M") %></span>
      <%= link_to 'Регионы', region_index_path %>
      <%= link_to 'Компании', company_index_path %>
      <%= link_to 'Контакты', contact_index_path %>
      <%= link_to 'Роли', role_index_path %>
      <%= link_to 'Менеджеры', user_index_path %>
      <%= link_to 'Сообщение', talk_path %>

      <% if logged_in? %>
        <%= link_to 'Профиль', user_path(current_user) %>
        <%= link_to 'Выйти', logout_path, method: 'DELETE' %>
      <% else %>
        <%= link_to 'Войти', login_path %>
      <% end %>
  <% end %>


  </div>
</head>

<body>
<header>

</header>
<main>
    <%= yield %>
</main>
<footer>

</footer>
</body>
</html>